
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');*{
    margin: 0;
    padding: 0;
}

.container-for-all{
    width: 1500px;
    margin: 0 auto;
    background: url('src/img/Bg.png');
}

.container{
    width: 980px;
    margin: 0 auto;
}